body {
    font: 100% arial;
    background-color: black;
    color: white;
    margin: 1px;
    padding: 1px;
    position: relative;
}

form, fieldset {
    border-width: 0px;
    margin: 1px;
    padding: 1px;
    position: relative;
}

.centerLayer {
    width: 1024px;
    min-height: 640px;
    margin: auto;
    position: relative;
    background-image: url(img/maser_03_1024.png);
    background-size: contain;
    background-repeat: no-repeat;
}