.div1_1 {
    height: 56px;
}

.div1_2 {
    height: 68px;
    position: relative;
}

.js-form {

}

.form__form {
    width: 95%;
    margin: auto;
    margin-top: 11px;
    text-align: left;
}

.form__input-date {
    width: 14%;
    height: 36px;
    font: inherit;
    border-width: 1px;
    border-radius: 4px;
    border-color: black;
}

.form__input-text {
    width: 40%;
    height: 34px;
    font: inherit;
    border-width: 1px;
    border-radius: 4px;
    border-color: black;
}

.form__input-url {
    width: 25%;
    height: 34px;
    font: inherit;
    border-width: 1px;
    border-radius: 4px;
    border-color: black;
}

.form__button {
    float: right;
    width: 14%;
    height: 38px;
    margin-top: 2px;
    margin-right: 6px;
    font: inherit;
    border-width: 0px;
    background-image: url(../../img/button_05_1024.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.form__button:active {
    background-image: url(../../img/button_05_1024_pressed.png);
}